{% extends "user/base.html" %}


{% block content %}


 <!--====== Section Content ======-->
 <div class="section__content">
    <div class="container">
        <div class="breadcrumb">
            <div class="breadcrumb__wrap">
                <ul class="breadcrumb__list">
                    <li class="has-separator">

                        <a href="">Home</a></li>
                    <li class="is-marked">

                        <a href="">Otp</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
    
 <!--====== Section Intro ======-->
 <div class="section__intro u-s-m-b-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__text-wrap">
                    <h6 class="section__heading u-c-secondary">VERIFY YOUR EMAIL ADDRESS</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section Intro ======-->


<!--====== Section Content ======-->
<div class="section__content">
    <div class="container">
        <div class="row row--center">
            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                <div class="l-f-o">
                    <div class="l-f-o__pad-box">

                        <span class="gl-text u-s-m-b-30 " style="color: black !important ;">We have sent otp to email, just use it here</span>
                        <div class="u-s-m-b-15">

                        <h1 class="gl-h1">Otp</h1>
                        <form class="l-f-o__form" method="post" id="loginForm" action="">
                            {% csrf_token %}
                            
                            <div class="u-s-m-b-30">

                                <label class="gl-label" for="login-password">OTP *</label>

                                <input class="input-text input-text--primary-style" name="otp" type="" id="login-Otp" placeholder="Enter Otp"></div>
                                {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li style="color: red;">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            
                                <div class="gl-inline">
                                <div class="u-s-m-b-30">

                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">VERIFY</button></div>
                                <div class="u-s-m-b-30">

                                    <a class="gl-link" href="{% url 'accounts:resend_otp' %}">Resend Otp</a></div>
                            </div>
                            <div class="u-s-m-b-30">

                                <!--====== Check Box ======-->
                                <div class="u-s-m-b-30">

                                    <!-- <a class="gl-link" href="">You want to change your mail?  CLICK HERE</a></div> -->
                                <!--====== End - Check Box ======-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}